[Desktop Entry]
Type=Application
Name=Kiosk
Exec=chromium-browser --noerrdialogs --diable-infobars --disable-pinch --overscroll-history-navigation=0 --kiosk "URL"
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
StartupNotify=false